*{
    overflow-x: hidden;
}

.hero{
    width: 100vw;
    height: 100vh;
}


#backgroundVideo{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

.content{
    position: relative;
    z-index: 1;
    padding: 1vh;
    text-align: center;
    font-size: 22px;
    color: whitesmoke;
    padding-top: 40vh;
}



.content h1{
    margin-top: -5vh;
}


.hero-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    gap: 20px;
    flex-wrap: wrap;
}


@media (max-width: 768px){
    .hero h1{
        font-size: 24px;
    }
    .hero h6{
        margin-top: -7vh;
        font-size: 10px;
        font-weight: lighter;
        padding-bottom: 10px;
    }
    
}