
.intro-section{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.intro-heading, .intro-para{
    flex: 1;
    padding: 20px;
}

.intro-heading{
    text-align: left;
}

.intro-para{
    text-align: left;
}

@media (max-width: 768px) {
    .intro-section{
        flex-direction: column;
    }
    .intro-heading{
        padding-bottom: 0;
    }
    .intro-para{
        padding-top: 0;
        font-size: small;
    }
}